pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
*.swp
secret-santa-web/src/secret_santa_client/node_modules/
secret-santa-web/src/secret_santa_client/bower_components/
.idea/
