<div class="container">
    <script>
        $(document).ready(function () {
            if ($('[data-toggle="switch"]').length) {
                $('[data-toggle="switch"]').bootstrapSwitch();
            }
        });
    </script>

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>Secret Santa
                    <small ng-if="!event.creating">Event administration</small>
                    <small ng-if="event.creating">Create event</small>
                </h1>
            </div>

            <!-- TODO fix this wording -->
            <p class="lead" ng-if="!event.creating">Here you can administer your event</p>
            <p class="lead" ng-if="event.creating">Here you can create a new event</p>

            <div class="alert alert-success ajax-success" ng-show="preferences.success">
                <strong>Thanks!</strong> Your preferences have been saved
            </div>

            <div class="alert alert-danger ajax-failure" ng-show="preferences.fail">
                <button type="button" class="close fui-cross" data-dismiss="alert"></button>
                <h4><strong>Uh oh!</strong> There was a problem communicating with the server</h4>
            </div>
        </div>
    </div>
    <div class-="row">
        <div class="col-lg-12">
            <h3>Event name</h3>
            <p>Give your event a nice, descriptive name for everyone to see.</p>
            <div>
                <div class="form-group">
                    <input type="text" value="" placeholder="Event name" class="form-control input-hg"
                           ng-model="event.name">
                </div>
            </div>
        </div>
    </div>
    <div class-="row">
        <div class="col-lg-12">
            <h3>Potential Dates</h3>
            <p>Enter the list of possible dates to poll your attendees with. They can then select their preference when
                you send your invitations out.</p>

            <ul class="checkbox-list">
                <li ng-repeat="date in event.addedDates">
                    <label class="checkbox-large">
                        {{event.formatDate(date)}} <span class="fui-cross text-danger link"
                                                         ng-click="event.removeDate(date)"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn" type="button"><span class="fui-calendar"></span></button>
                    </span>
                    <input type="text" class="form-control" ng-model="event.newDate"
                           jqdatepicker/>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <button class="btn" type="button" ng-click="event.addDate(event.newDate)"><span class="fui-plus"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class-="row">
        <div class="col-lg-12">
            <h3>Potential Venues</h3>
            <p>Enter the list of possible venues to poll your attendees with. They can then select their preference when
                you send your invitations out.</p>

            <ul class="checkbox-list">
                <li ng-repeat="venue in event.addedVenues">
                    <label class="checkbox-large">
                        {{venue}} <span class="fui-cross text-danger link" ng-click="event.removeVenue(venue)"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-11 col-xs-11">
            <div class="form-group">
                <input type="text" value="" placeholder="Venue name" class="form-control input-hg"
                       ng-model="event.newVenue">
            </div>
        </div>
        <div class="col-lg-1">
            <button class="btn" type="button" ng-click="event.addVenue(event.newVenue)"><span class="fui-plus"></span>
            </button>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="row">
        <br/>

        <button class="btn btn-primary" ng-click="event.saveEvent()" ng-show="!event.busy">Save event</button>

        <a href="#/event/{{event.eventId}}" class="pull-right">Return to event</a>

        <div id="busy" class="progress" ng-show="event.busy">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100"
                 aria-valuemin="0" aria-valuemax="100"
                 style="width: 100%">
                <span class="sr-only">Submitting...</span>
            </div>
        </div>
    </div>
</div>