<div class="container">

	<div>
		<h1>Preferences</h1>
		<p class="lead">Hey {{preferences.userEmail}}, please select your available dates and preferred venus.</p>
		
		<h3>Preferred Dates</h3>
		
		<ul>
			<li ng-repeat="date in preferences.availableDates">
				<label class="checkbox">
					<input type="checkbox" ng-model="date.selected" />
					{{preferences.formatDate(date)}}
				</label>
			</li>
		</ul>
		
		
		<h3>Preferred Venue</h3>
		<ul>
			<li ng-repeat="venue in preferences.availableVenues">
				<label class="radio">
					<input type="radio" name="venuSelect" />
					{{venue}}
				</label>
			</li>
		</ul>
		
		<button class="btn btn-primary" ng-click="preferences.savePreferences()">Save preferences</button>
	</div>

</div>