@import "../bower_components/bootstrap/less/variables.less";

body {
	margin-top: 45px;
}

h3 {
	display: inline-block;
	margin-bottom: 20px;
}

.checkbox-list, .radio-list {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li {
		margin:10px;
		float:left;
	}
}

.checkbox, .radio {
	padding: 20px;
	padding-left: 40px;
	background-color: @gray-lighter;
	
}