@import "../lib/flatui/less/variables.less";

body {
	margin-top: 45px;
}

h3 {
	display: inline-block;
	margin-bottom: 20px;
}

.checkbox-list, .radio-list {
	list-style: none;
	padding: 0;
	margin: 0;
	
	li {
		margin:5px;
		float:left;
	}
}

.checkbox-large, .radio-large {
	padding: 15px;
	background-color: @clouds;
}

.animate-show {
	opacity: 1;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
	transition: all linear 0.5s;
}

.animate-show.ng-hide {
	opacity: 0;
}

.tile-image {
	display: block;
	margin-left: auto;
	margin-right: auto;
}